universe = vanilla
executable = $(filename)
output = output/$Fn(filename).out
error = error/$Fn(filename).err
log = log/$Fn(filename).log
should_transfer_files   = No
+MaxRuntime = 60*60*24
request_cpus = 1
#MY.SingularityImage ="/cvmfs/unpacked.cern.ch/gitlab-registry.cern.ch/cms-cat/cmssw-lxplus/cmssw-el7-lxplus:latest/"
queue filename matching files RunJob.sh 
